@page "/search-results/{partialNameToSearch}"
@using FilePocket.BlazorClient.Helpers

<h3>SearchResults</h3>
<p>Search results for: @PartialNameToSearch</p>


@if (_files is not null && _files.Any())
{

    foreach (var t in _fileTypes)
    {
        var filesOfType = _files.Where(f => f.FileType == t);

        if (filesOfType.Count() > 0)
        {
            <div>
                <span>@t.ToString()</span>
                <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 g-4 text-center justify-content-center">

                    @foreach (var f in filesOfType)
                    {
                        <div class="card h-100 shadow-sm me-2 pt-2" style="width: 8em;">
                            <a class="file-link text-decoration-none" title="@f.OriginalName" href="@Tools.GetFileUrl(f.Id, f.PocketId, f.FolderId)">

                                <img src="./assets/img/fileTypes/@Tools.GetIconName(f.FileType!)" width="56" class="d-block mx-auto mb-3" alt="File icon" />

                                <h6 class="card-title" style="font-size: 0.8em">@Tools.TruncateString(f.OriginalName!)</h6>
                            </a>
                        </div>
                    }
                </div>
            </div>
        }
    }
}
