@page "/files/{FileId}/share"
@page "/pockets/{PocketId}/files/{FileId}/share"

@using FilePocket.BlazorClient.Helpers

<div class="container-fluid" style="min-height: 600px;">
    <div class="container-fluid w-100 w-md-75 h-100 pt-3 pb-4">
        <TopSubMenu Url="" Title="Share File" />

        <div class="d-flex justify-content-center">
            <h5 class="mb-4">You are going to share the following file:</h5>
        </div>

        @if (_fileInfo is not null)
        {
            <FileInfoBlock Name="@_fileInfo.OriginalName" Size="@_fileInfo.FileSize" CreatedAt="@_fileInfo.DateCreated" />
            <br />
            <div class="text-center">
                <button class="btn btn-lg btn-outline-warning" @onclick="ShareFileAsync">Share</button>
            </div>
        }

        <br />

        @if (!string.IsNullOrWhiteSpace(_sharedFileUrl))
        {
            <div class="text-center">
                <a href="@_sharedFileUrl" target=”_blank” style="font-size: 1.2em;">@_sharedFileUrl</a>
                <button class="btn btn-sm btn-light ms-2" @onclick="() => CopyIdToClipboard(_sharedFileUrl)">
                    <i class="bi bi-copy"></i>
                </button>
            </div>
        }
    </div>
</div>

<script>
    function copyToClipboard(text) {
        navigator.clipboard.writeText(text);
    }
</script>