@using FilePocket.Client.Services.Helpers

@inject IJSRuntime JS
@inject NavigationManager Navigation;

<div class="container-fluid" style="min-height: 600px;">
    <div class="container-fluid w-100 w-md-75 pt-3">

        <!-- Top SubMenu -->
        <TopSubMenu Url="@_goBackUrl" Title="My Files" />

        <!-- Action Buttons Row -->
        <div class="row mx-auto">
            <div class="col-12 d-flex align-items-center mb-3">

                <!-- Upload Button -->
                <label class="btn btn-outline-success p-0 me-2">
                    <i class="ps-2 pe-2 bi-cloud-arrow-up fs-4"></i>
                    <InputFile hidden id="fileInput" OnChange="LoadFiles" multiple />
                </label>

                <!-- New Folder Button -->
                <a href="/pockets/@PocketId/folders/@FolderId/new" class="btn btn-outline-warning p-0 ps-2 pe-2">
                    <i class="bi bi-folder-plus fs-4"></i>
                </a>

                <!-- Delete Button aligned to right -->
                <button class="btn @(_rmBtnDisabled ? "btn-outline-secondary" : "btn-outline-danger") ms-auto p-0 ps-2 pe-2" disabled="@_rmBtnDisabled" @onclick="DeleteSelectedFiles">
                    <i class="bi bi-trash fs-4"></i>
                </button>
            </div>
        </div>

        <br />

        <!-- Responsive Table -->
        <div class="table-responsive">
            <table class="table table-light table-hover mx-auto">
                <thead>
                    <tr>
                        <th scope="col" class="col-2 col-md-1">
                            <input class="form-check-input" checked="@_isMasterChecked" @onclick="MasterCheckboxChanged" type="checkbox" />
                            <label class="form-check-label" for="flexCheckDefault">
                                #
                            </label>
                        </th>
                        <th scope="col" class="col-5">Name</th>
                        <th scope="col" class="col-3 col-md-1">Type</th>
                        <th scope="col" class="col-3 col-md-2">Size</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        var i = 1;
                    }
                    @foreach (var folder in _folders)
                    {
                        <tr>
                            <th scope="row">
                                <input class="form-check-input" id="folder_@i" checked="@folder.IsSelected" @oninput="() => ChildFolderCheckboxChanged(folder.Id!.Value)" type="checkbox" />
                                <label class="form-check-label" for="flexCheckDefault">
                                    @(i)
                                </label>
                            </th>
                            <td>
                                <a class="link-offset-2 link-underline link-underline-opacity-0 link-dark fw-semibold pe-auto" href="/pockets/@folder.PocketId/folders/@folder.Id/files">
                                    @folder.Name
                                </a>
                            </td>
                            <td>
                                <i class="bi bi-folder" title="Folder"></i>
                            </td>
                            <td>
                                ...
                            </td>
                        </tr>
                        i++;
                    }
                    @foreach (var file in _cFiles)
                    {
                        <tr>
                            <th scope="row">
                                <input class="form-check-input" id="file_@i" checked="@file.IsSelected" @oninput="() => ChildFileCheckboxChanged(file.Id)" type="checkbox" />
                                <label class="form-check-label" for="flexCheckDefault">
                                    @(i)
                                </label>
                            </th>
                            <td>
                                @{
                                    var url = FolderId is null
                                    ? $"/pockets/{file.StorageId}/files/{file.Id}"
                                    : $"/pockets/{PocketId}/folders/{FolderId}/files/{file.Id}";
                                }
                                <a class="link-offset-2 link-underline link-underline-opacity-0 link-dark" href="@url">
                                    @file.OriginalName
                                </a>
                            </td>
                            <td>
                                @if (file.FileType == "Image")
                                {
                                    <i class="bi bi-card-image" title="@file.FileType"></i>
                                }
                                else if (file.FileType == "Other")
                                {
                                    <i class="bi bi-file-earmark-binary" title="@file.FileType"></i>
                                }
                            </td>
                            <td>
                                @Tools.FormatFileSize(file.FileSize)
                            </td>
                        </tr>
                        i++;
                    }
                </tbody>
            </table>
        </div>

    </div>
</div>


<script>
    function resetFileInput(inputId) {
        document.getElementById(inputId).value = null;
    }
</script>